<strong> Olá, {{ student }} </strong>
<p>A sua matricula foi realizada com sucesso, confira os detalhes abaixo:</p>
<p>
  <strong>Plano: </strong> {{ plan }}<br />
  <strong>Data Inicio: </strong> {{ start_date }}<br />
  <strong>Data Término: </strong> {{ end_date }}<br />
  <strong>Preço: R$</strong> {{ price }}<br />
  <br />
  <small>
    Agora é foco no treino e BIIIRRRLLL!.
  </small>
</p>
