<strong> Olá, {{ student }} </strong>
<p>A sua matricula foi realizada com sucesso, confira os detalhes abaixo:</p>
<p>
  <strong>Plano: </strong> {{ registration.plan }}<br />
  <strong>Data Inicio: </strong> {{ registration.start_date }}<br />
  <strong>Data Término: </strong> {{ registration.end_date }}<br />
  <strong>Preço: </strong> {{ registration.price }}<br />
  <br />
  <small>
    Agora é foco no treino e BIIIRRRLLL!.
  </small>

</p>
